.web_color{
        background-color: #101010;
}

.web_color-darkness{
background-color: #121212;
}
.navbar-nav .nav-link{
    color:#FEFDFB;
    font:Text - lg/Bold;
font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.01em;
text-align:right;
}

.innovamos_image-big {
    width: 1046px;
height: 548px;
}
.innovamos_image-margin{
   padding-top: 128px; 
   padding-bottom: 128px;

}

.align {
    display: grid;
    place-items: center;
    position: relative;
}


.text_ante-title{
    color: #FCBC00; font-size: 16px; font-family: Poppins; font-style: italic; font-weight: 600;letter-spacing: 0.16px; word-wrap: break-word;
}
.text_title{
     color: #FEFDFB; font-size: 60px; font-family: Poppins; font-weight: 700; letter-spacing: 0.60px; word-wrap: break-word; margin-bottom: 10px;
}
.general_font{
    color: var(--text-text-placeholder, #FEFDFB);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 180% */
    letter-spacing: 0.2px;
}
.badge{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.badge_color{
    border-radius: 4px;
background: rgba(253, 210, 84, 0.10);
}

.impacto_badges{
    display: flex;
padding: var(--spacing-spacing-none, 0px);
align-items: flex-start;
align-content: flex-start;
gap: 10px;
align-self: stretch;
flex-wrap: wrap;
}

.badge_letter {
    color: var(--text-text-placeholder, #FEFDFB);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
letter-spacing: 1.6px;
padding-bottom: 10px; 
padding-top: 10px; 

display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


    /*color: #FEFDFB; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; letter-spacing: 1.60px; word-wrap: break-word"*/
}
.productos_box_layout{
    height: 296px;
    flex: 1 0 0;
    background-color: #101010;
}

.productos_box_style{
    border-radius: var(--spacing-spacing-sm, 8px);
background: var(--surface-surface-docbase, #101010);
}
.separation {
    display: flex; padding: var(--spacing-spacing-none, 0px); justify-content: center; align-items: center;
align-content: center; gap: 92px; flex: 1 0 0; flex-wrap: wrap;
}

.general_top_margin {
    padding-top:120px;
    padding-bottom: 120px;

}

.general_slide_margin {
    margin-left: 160px ;
    border-spacing:lg;
}
.copyrigth{
 text-align: center; color: #FEFDFB; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word
}
.footer_letter {
    color: #FEFDFB; font-size: 18px; font-family: Poppins; font-weight: 700; line-height: 28px; letter-spacing: 0.18px; word-wrap: break-word
}
.footer_icons {
    width: 24px; height: 24px; position: relative
}
.impacto_image-size {
 width: 492px  ;
 height: 492px;

}
.contacto_image-size {
    width: 100%;
    height: 100%;
}
.impacto_image-size{
    width: auto;
    height: auto ;
}
.impacto_layout{
    display: flex;
padding: var(--spacing-spacing-none, 0px);
flex-direction: column;
align-items: flex-start;
gap: var(--spacing-spacing-xl, 32px);
}

.navbar-nav .nav-link:hover {
    color:  #DFDFDF;
    padding-bottom: 0%;
    border-bottom: 2px solid var(--border-border-primary, #FCBC00);

}
.navbar-nav .nav-link:active { 
    border-bottom: 2px solid var(--border-border-primary, #FCBC00);
    color: #FCBC00;

}

footer a:hover{
    color:  #DFDFDF;
    padding-bottom: 0%;
    border-bottom: 2px solid var(--border-border-primary, #FCBC00);
}

footer a:active {
    border-bottom: 2px solid var(--border-border-primary, #FCBC00);
    color: #FCBC00;
}
.web_general-padding {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 160px;
    padding-right: 160px;
}
    .text_ante-title{
        color: var(--text-text-primary, #FCBC00);
/* Text - md/Semibold italic */
font-family: Poppins;
font-size: 16px;
font-style: italic;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: 0.16px;
    }

    .img_size{

    width: 359px;
    height: 164px;
    }

.gap_section{
    gap:0 px;
}
    footer {
        color: white;
        padding: 20px;
        text-align: center;
      }
.contacto_layout {
    display: flex;
padding: var(--spacing-spacing-none, 0px);
flex-direction: column;
align-items: flex-start;
gap: var(--spacing-spacing-md, 16px);
}
.impacto_gap{
    display: flex;
padding: var(--spacing-spacing-none, 0px);
justify-content: center;
align-items: center;
gap: 16px;
}
      .row {
        display: flex;
        justify-content: space-around;
        margin-bottom:0 ;
      }
    
      .icon-row {
          display: flex;
          justify-content: center;
          align-items: center;
        }
    
        .icon-row img {
          margin: 0 10px; 
    
        }
    
        .hr_decoration-footer{
               width: 98% ;

                height: 1px;
                background-color:#DFDFDF;
            
        }
        .icon-row a {
          margin: 28px ; /* Espacio entre los iconos, ajusta según sea necesario */
         list-style: none;
         text-decoration: none;
         
         color:#FEFDFB;
            font:Text - lg/Bold;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.01em;
        text-align: left;
        }


    @media (max-width: 1400px) {
        .text_title{
            font-size: 30px
        }
        .general_font {
            line-height: 24px; /* 150% */
            letter-spacing: 0.16px;
            font-size: 16px;   
             }
        .general__top_margin {
            padding-top: 44px;
            padding-bottom: 44px;
           
        }
        .general_slide_margin{
            margin-left:  33px;
        }
 
        .web_general-padding {
            padding-bottom: 44px;
        padding-top: 44px;
        padding-left: 32px;
        padding-right: 32px;

        }
        .innovamos_image-big {
            width: 615.6px; height: 323px;
                    }
          .img_size{
                        width: 156.389px;
                        height: 71.442px
                    }
         .gap_section {
            gap: 44px;
         }
         .icon-row a {
            margin: 44px;
        }
        .innovamos_image-margin{
            padding-bottom: 44px;
            padding-top: 44px;
            padding-left: 33px;
            padding-right: 33px;
        }
    }



            @media (max-width: 576px) {
        .image_margin{
            width: 240px;
            height: 240px;}

        .general_top_margin {
                padding-top: 2rem;
                padding-bottom: 2rem;
            
        }
        .general_slide_margin{
            margin-left: 32px;
        }
        .innovamos_image-big {
            width: auto;
            height: 170px;
}
 
  .img_size{
    width: 244px;
    height: 111px;
  }
    .web_general-padding  {
        padding-bottom: 44px;
        padding-top: 44px;
        padding-left: 33px;
        padding-right: 33px;

    }
  
.icon-row a {
    margin: 0%;
}

  
  @media (min-width:1195px) {
    .web_general-padding  {
        padding-bottom: 44px;
        padding-top: 44px;
        padding-left: 33px;
        padding-right: 33px;
  }
    
  .innovamos_image-big{
    width: auto;
    height: 170px;
  }
  
  
  } 
  
  @media (min-width:1200px) {
    .gap_section {
        gap: 300px
    };
    .web_general-padding  {
        padding-bottom: 44px;
        padding-top: 44px;
        padding-left: 33px;
        padding-right: 33px;
    }

}
            }